<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <h1><%= @params[:name]%></h1>
    <div><p>Team Name: <%= @params[:name]%></p></div>
    <div><p>Coach: <%= @params[:coach]%></p></div>
    <div><p>Point Guard: <%= @params[:pg]%></p></div>
    <div><p>Shooting Guard: <%= @params[:sg]%></p></div>
    <div><p>Power Forward: <%= @params[:pf]%></p></div>
    <div><p>Center: <%= @params[:c]%></p></div>

 </body>
</html>


